name: Sphinx build

on: push

jobs:
  sphinx-doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Upgrade pip, install requirements, build HTML documentation
      run: |
        apt-get -y --allow-releaseinfo-change update
        apt-get -y install git
        python -m pip install --upgrade pip
        pip install -r ./docs/requirements.txt
        sphinx-build docs ./docs/_build/html/

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: html-docs
        path: docs/_build/

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html